<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
"http://www.w3.org/TR/REC-html40/loose.dtd">
<HTML>
<HEAD>
<TITLE>directivas import, errorPage e isErrorPage</TITLE>
</HEAD>
<BODY>

	<!-- action llama a jsp, y un jsp puede llamar a otra jsp -->
	<form method="post" action="directiva_import.jsp">
	
		<!-- <%-- Comentario de jsp --%> -->
		<center>
			<font size='5' color='olive'> Ejemplo de directiva import,errorPage e isErrorPage </font>
		</center>
		
		<font color='red'>Introduce argumento1</font>
		 
		<input type='text' name='numero1'> <br>
		 
		<font color='red'>Introduce argumento2</font> <input type='text' name='numero2'>
		<p>
		<input type='submit' value='Aceptar'>
		
	</form>
	
</BODY>
</HTML>