<form action="resultado.jsp" method="post">

	<label>CP:</label>
	<input type="text" name="cp" /><br/><br/>

	<label>Sueldo:</label>
	<input type="text" name="sueldo" /><br/><br/>
	
	<label>Complementos:</label>
	<input type="text" name="complementos" /><br/><br/>
	
	<label>Dietas:</label>
	<input type="text" name="dietas" /><br/><br/>
	
	<input type="hidden" name="city" value="0">
	
	<input type="submit" value="Calcular" />
	
</form>