<form action="resultado.jsp" method="post">

	<label>Sueldo:</label>
	<input type="text" name="sueldo" /><br/><br/>
	
	<label>Complementos:</label>
	<input type="text" name="complementos" /><br/><br/>
	
	<label>Plus:</label>
	<input type="text" name="plus" /><br/><br/>
	
	<input type="hidden" name="city" value="1">
	
	<input type="submit" value="Calcular" />
	
</form>